
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header section */
.header {
  width: 100%;
  height: 55px;
  background: rgb(247, 167, 46);
  background: linear-gradient(
    73deg,
    rgba(247, 167, 46, 1) 1%,
    rgba(242, 115, 39, 1) 25%,
    rgba(233, 83, 144, 1) 41%,
    rgba(231, 22, 117, 1) 59%,
    rgba(255, 33, 119, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 110px;
  padding-right: 110px;
}
.socialMediaLinks {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30%;
  height: 100%;
}
.socialMediaLinks li {
  margin-left: -10px;
  list-style: none;
  display: flex;
  align-items: center;
  width: 60px;
  height: 50px;
  padding: 5px;
}
.socialMediaLinks li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(250, 250, 250);
  width: 90px;
  height: 55px;
  border: 1px solid whitesmoke;
}
.socialMediaLinks li a img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.contactme {
  width: 38%;
  height: 100%;
  display: flex;
  align-items: center;
}
.phonenumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100%;
  color: white;
}
.contactme a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  width: 270px;
  height: 100%;
  text-decoration: none;
  color: white;
}

.rightbtn {
  border: 3px solid white;
  border-radius: 30px;
  height: 75%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rightbtn p {
  color: white;
}
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 140px;
  padding-right: 120px;
}
.logo {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.logo i {
  color: rgb(242, 115, 39);
  color: linear-gradient(
    90deg,
    rgba(242, 115, 39, 1) 0%,
    rgba(247, 167, 46, 1) 16%,
    rgba(242, 167, 54, 1) 17%,
    rgba(235, 35, 116, 1) 52%,
    rgba(196, 67, 122, 1) 71%,
    rgba(242, 27, 115, 1) 84%,
    rgba(255, 33, 119, 1) 93%
  );
  cursor: pointer;
}
.links {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links li {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 100% !important ;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links li a:hover {
  background-color: #f2a736;
}
.searchArea {
  border: 1px solid rgb(37, 36, 36);
  border-radius: 5px;
  width: 40px;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.searchArea i {
  color: white;
  cursor: pointer;
}
.mainSection {
  width: 100%;
  height: 500px;
}
.imagearea {
  background-color: aqua;
  width: 100%;
  height: 100%;
  background-image: url(./assets/image4.jpeg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textSection {
  width: 74%;
  height: 50%;
  padding: 40px 20px 20px 5px;
}
.firstHeading {
  font-size: 22px;
  word-spacing: 1rem;
  padding-bottom: 8px;
  color: rgb(251, 232, 232);
}
.secondHeading {
  padding-bottom: 8px;
  font-size: 42px;
  word-spacing: 1rem;
  color: rgb(255, 226, 226);
}
.para {
  padding-bottom: 8px;
  font-size: 16px;
  color: rgb(246, 241, 241);
  word-spacing: 0.2rem;
}
.textSectionBtnArea {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}
.textSectionBtn {
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
  margin-left: 10px;
  color: rgb(248, 248, 248);
  border-radius: 30px;
}
.textSectionBtn:hover {
  background: rgb(242, 115, 39);
  background: linear-gradient(
    90deg,
    rgba(242, 115, 39, 1) 0%,
    rgba(247, 167, 46, 1) 17%,
    rgba(235, 35, 116, 1) 52%,
    rgba(196, 67, 122, 1) 71%,
    rgba(242, 27, 115, 1) 84%,
    rgba(255, 33, 119, 1) 93%
  );
  cursor: pointer;
}
.border {
  width: 3px;
  height: 55%;
  background: rgb(242, 115, 39);
  background: linear-gradient(
    90deg,
    rgba(242, 115, 39, 1) 0%,
    rgba(247, 167, 46, 1) 16%,
    rgba(242, 167, 54, 1) 17%,
    rgba(235, 35, 116, 1) 52%,
    rgba(196, 67, 122, 1) 71%,
    rgba(242, 27, 115, 1) 84%,
    rgba(255, 33, 119, 1) 93%
  );
  margin-right: 5px;
  border-radius: 10px;
}
.instructionArea {
  width: 100%;
  height: 300px;
  border: 1px solid lightgoldenrodyellow;
  background: rgb(242, 115, 39);
  background: linear-gradient(
    90deg,
    rgba(242, 115, 39, 1) 0%,
    rgba(247, 167, 46, 1) 17%,
    rgba(235, 35, 116, 1) 52%,
    rgba(196, 67, 122, 1) 71%,
    rgba(242, 27, 115, 1) 84%,
    rgba(255, 33, 119, 1) 93%
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding-left: 100px;
  padding-right: 100px;
  color: white;
}
.cards {
  width: 25%;
  height: 150px;
  gap: -4rem;
}
.cards h3 {
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cards h3 i {
  border: 2px solid whitesmoke;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.cards p {
  text-align: justify;
}
.aboutSection {
  width: 100%;
  height: 400px;
  background-color: rgb(226, 218, 218);
  background-image: url(./assets/map2.jpg);
  object-fit: contain;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* color: white; */
  /* box-shadow: 1px 10px 10px red; */
}
.about {
  padding-top: 20px;
  margin-left: 150px;
  width: 50%;
  height: 90%;
}
.aboutFirstHeading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 2rem;
}
.aboutUnderline {
  width: 60px;
  height: 3px;
  background: rgb(242, 115, 39);
  background: linear-gradient(
    90deg,
    rgba(242, 115, 39, 1) 0%,
    rgba(247, 167, 46, 1) 16%,
    rgba(242, 167, 54, 1) 17%,
    rgba(235, 35, 116, 1) 52%,
    rgba(196, 67, 122, 1) 71%,
    rgba(242, 27, 115, 1) 84%,
    rgba(255, 33, 119, 1) 93%
  );
  margin: -10px 0 20px 0;
  border-radius: 10px;
}
.aboutSecondHeading {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.aboutPara {
  text-align: justify;
  font-style: 1rem;
  margin-bottom: 20px;
}
.aboutReadMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 10px;
  width: 150px;
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(242, 115, 39, 1) 0%,
    rgba(247, 167, 46, 1) 16%,
    rgba(242, 167, 54, 1) 17%,
    rgba(235, 35, 116, 1) 52%,
    rgb(234, 6, 105)
  );
  cursor: pointer;
}

.aboutImageArea {
  width: 40%;
  margin-right: 150px;
}
.aboutImage {
  width: 80%;
  height: 350px;
  margin-left: 40px;
}
.ourServicesArea {
  width: 100%;
  height: 400px;
  background-image: url(./assets/map.jpg);
  background-position: center;
  object-fit: cover;
  background-size: contain;

  /* background-color: rgb(238, 222, 222); */
}
.ourServicesheading {
  font-size: 1.8rem;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  color: rgb(64, 59, 59);
  margin-left: 140px;
}
.ourServicesUnderline {
  width: 60px;
  height: 3px;
  margin-left: 140px;
  background: rgb(242, 115, 39);
  background: linear-gradient(
    90deg,
    rgba(242, 115, 39, 1) 0%,
    rgba(247, 167, 46, 1) 16%,
    rgba(242, 167, 54, 1) 17%,
    rgba(235, 35, 116, 1) 52%,
    rgba(196, 67, 122, 1) 71%,
    rgba(242, 27, 115, 1) 84%,
    rgba(255, 33, 119, 1) 93%
  );
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.ourServicesCardsArea {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
.ourServicesCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 98%;
}
.ourServicesCard img {
  width: 97%;
  height: 85%;
  object-fit: cover;
  border-radius: 10px;
}
.ourServicesCard h1 {
  font-size: 1.3rem;
  margin-top: -30px;
  border-radius: 3px;
  background-color: rgb(253, 250, 250);
  box-shadow: 13px 16px 11px -8px rgba(179,164,164,0.87);
-webkit-box-shadow: 13px 16px 11px -8px rgba(179,164,164,0.87);
-moz-box-shadow: 13px 16px 11px -8px rgba(179,164,164,0.87);
  width: 75%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -70px;
  padding-right: 20px;
  color: rgb(108, 103, 103);
}

.ourServicesCard h1 span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin-left: -31px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}
.footer {
  width: 100%;
  height: 60px;
  border-radius: 1px;
  background-color: rgb(52, 48, 48);
}
.footerHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
